.idea/
*.iml
*.pyc
mnist/tmp/
char74k/data/
char74k/binarized/
char74k/parsed/

originalOCR/model/
dcgan/images/
originalOCR/out_images/
dcgan/out_images/
dcgan/images48/
catch-up/data/
word2vec/data/
imagenet/images/
