.idea/
*.iml
*.pyc
mnist/tmp/
char74k/data/
char74k/binarized/
char74k/parsed/

originalOCR/model/
dcgan/images/
originalOCR/out_images/
dcgan/out_images/
dcgan/images48/
catch-up/data/
word2vec/data/
imagenet/images/
imagenet/fruits/
imagenet/food_hack/data/image/n07707451_91.jpg
imagenet/food_hack/data/
imagenet/food_hack/tmp/
dcgan/tmp/
